body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  font-family: Arial;
}

.card {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #4b6cb7;
  color: white;
  border: none;
  cursor: pointer;
}
